# Files
#######
*.pyc
*.png

# Data folder
#############
data/*

# Dymola output files
#####################
*.mat
*dsfinal.txt
*dsin.txt
*dslog.txt
*dsmodel.c
*dymosim

# JModelica output files
########################
*.fmu
*result.txt
*log.txt

# MPCPy output files
####################
*.mop

# Results files
###############
process/results/*

