# Files
#######
*.pyc
*.png
*.yaml
*.csv

# Folders
#########
data/*
simulation/output/*
controller/output/*
controller/validation/*

# Dymola output files
#####################
*.mat
*dsfinal.txt
*dsin.txt
*dslog.txt
*dsmodel.c
*dymosim

# JModelica output files
########################
*.fmu
*result.txt
*log.txt

# MPCPy output files
####################
*.mop

# MPC config files
####################
*/mpc_config.py
!controller/baseline_config_template.yaml

# Results files
###############
process/results/*

# OS/editor files
#################
.DS_Store
.idea/

# XBOS files
############
*.pem
*.ent

# Jupyter notebook files
########################
*.ipynb_checkpoints
