[Unit]
Description=parker service
Requires=wave.service
Requires=wavemq.service
Requires=ingester.service

[Service]
After=network.target
Type=simple
ExecStart=/usr/bin/env python3 /home/solarplus/xboswave/python/pyxbos/pyxbos/drivers/parker/parker.py /home/solarplus/xboswave/python/pyxbos/pyxbos/drivers/parker/parker_config.yaml

[Install]
WantedBy=multi-user.target

