[Unit]
Description=dark sky service
Requires=wave.service
Requires=wavemq.service


[Service]
After=network.target
Type=simple
ExecStart=/usr/bin/env python3 /home/solarplus/xboswave/python/pyxbos/pyxbos/drivers/dark_sky/weather_driver.py

[Install]
WantedBy=multi-user.target