[Unit]
Description=weather driver service
Requires=wave.service
Requires=wavemq.service
Requires=ingester.service

[Service]
After=network.target
Type=simple
ExecStart=/usr/bin/env python3 /home/solarplus/xboswave/python/pyxbos/pyxbos/drivers/dark_sky/weather_driver.py /home/solarplus/xboswave/python/pyxbos/pyxbos/drivers/dark_sky/weather_driver_config.yaml

[Install]
WantedBy=multi-user.target

